@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-color: #ff4400e1;
   background-image: url(./a.png);
}

.color {
   background-color: #ff450080 ;
   background-size: cover;
   background-attachment: fixed;
}

.container {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-top: 50px;
}

h1 {
   color: orangered;
   text-align: center;
   font-weight: 900;
   padding-bottom: 10px;
}

.card {
   background-color: #ffffff;
   opacity: 90%;
   padding: 40px;
   width: 650px;
   height: 550px;
   border-radius: 5%;
}
input {
   background-color: rgb(238, 238, 238);
   border: none;
   outline: none;
   border-bottom: 2px solid orangered;
   padding-left: 5px;
   padding-bottom: 3px;
   padding-top: 3px;
   width: 75%;
}

.position {
   padding: 5px;
}

.box {
   background-color: #ffffff;
   opacity: 90%;
   padding: 40px;
   padding-left: 40px;
   width: 650px;
   height: 600px;
   border-radius: 5%;
}

.text {
   text-align: left;
   color: orangered;
   font-weight: 900;
}

.text2 {
  color: white;
  text-align: center;
  font-size: 40pt;
  font-weight: 900;
  padding-bottom: 30px;
}
button {
   width: max-content;
   height: 50px;
   background: orangered;
   border-radius: 10px;
   cursor: pointer;
   color: white;
   padding-bottom: 10px;
   font-size: 40pt;
   font-weight: 900;
   margin-top: 70px;
}

.bold {
   font-weight: 900;
}

.center {
   text-align: center;
}

a {
   color: orangered;
   font-weight: 900;
   text-decoration: none;
}

.navbar {
   display: flex;
   align-items: center;
   padding: 1%;
}
.nav1 {
   flex: 1;
   text-align: left;
}
.nav2 {
   flex: 1;
   text-align: right;
}
nav ul {
   display: inline-flex;
   list-style-type: none;
}
nav ul li {
   display: inline-flex;
   margin-right: 20px;
}
.ul1 {
   flex: 1;
   text-align:left;
}
.ul2 {
   flex: 1;
   text-align: center;
}

/* Retangulo 1 */

.retangulo1 {
   position: absolute;
width: 100%;
height: 41%;
left: 0%;
top: 12%;

background: #FB7428;
}

/* texto 1 */

.texto1 {
position: absolute;
width: 40%;
height: 1%;
left: 1%;
top: 20%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 56px;

color: #FFFFFF;
}

/* Retangulo 2 */

.retangulo2 {
   position: absolute;
   width: fit-content;
   height: fit-content;
   left: 1%;
   top: 40%;
   
   background: #F79032;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* texto 2 */

.texto2 {

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FFFBFB;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* NOSSOS SERVICOS */

.texto3 {
   position: absolute;
   width: max-content;
   height: 100%;
   left: 200%;
   top: 300%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 75px;
text-align: center;

color: #000000;
}

/* Linha 1 */

.linha {
position: absolute;
width: 560px;
height: 0px;
left: 171%;
top: 500%;

border: 1px solid #000000;
transform: rotate(-0.3deg);
}

/* CONSERTOS EM GERAL */

.texto4 {
position: absolute;
width: 251px;
height: 83px;
left: 85px;
top: 1500%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}

/* TROCA DE TELA */

.texto5 {
position: absolute;
width: 279px;
height: 42px;
left: 210%;
top: 1550%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}

/* CONECTOR DO CARREGADOR */

.texto6 {
position: absolute;
width: 327px;
height: 76px;
left: 400%;
top: 1500%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}